/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
html {
    --primary: #2D3A46;
    --secondary: #1E2D3B;
}
body {
    background-color: var(--secondary);
    color: grey;
}

h1 {
    font-size: 1rem;
}

nav {
    background-color: var(--primary);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side .logo-holder {
    height: 5vh;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.left-side .logo-holder img {
    height: 70%;
}

/* Card */
.card-container {
    max-width: 1000px;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex-basis: calc((100% - 100px) / 5 );
    max-width: calc((100% - 100px) / 5 );
    background-color: var(--primary);
    padding: 20px;
    margin: 0 20px 20px 0;
    text-align: center;
}

.card h1 {
    color: whitesmoke;
    line-height: 2;
}

.card .img-holder {
    height: 150px;
    width: 100%;
    overflow: hidden;
   
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}